*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: .3s;
}


#navbar img{
    height: 40px;
}

#navbar img:hover{
    border-radius: 50px;
}

#navbar{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #fff;
}

#navbar ul{
    display: flex;
    gap: 20px;
}

#navbar ul li{
    list-style: none;
}

#navbar ul li a{
    color: #000;
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

#navbar ul li a:hover{
    color:#fff;
    background-color: #000;
}

#home{
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(bg1.jpg)no-repeat center center/cover;
    background-attachment: fixed;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#home h1{
    color: #fff;
    font-size: 6rem;
    text-align: center;
}

#home p{
    color: #aaaaaa;
    text-align: center;
    font-size: 1.4rem;
}


.btn{
    padding: 6px 20px;
    border: none;
    outline: none;
    background-color:#000;
    color: #fff;
    margin:50px;
    font-size: 1.4rem;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: #fff;
    color: #000;
    border-radius: 15px;
}

.services-container{
    height: 70vh; /*mobile 100%*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#services{
    margin: 30px;
    display: flex;
    gap: 10px;
}

#services .box{
    padding: 45px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

#services .box img{
    height: 150px;
    display: block;
    margin: auto;
    padding: 15px;
}

#services .box p{
    color: #aaaaaa;
}

#client-section{
    height: 30vh;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#clients img{
    height: 80px;
    cursor: pointer;
    margin-top: 20px;
}

#contact{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contact-box{
    display: flex;
    justify-content: center;
    width: 60%;
    align-items: center;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid #ddd;
}

#contact-box form{
    width: 50%;
}

#contact-box label{
    font-size: 1.3rem;
}

#contact-box .button-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-box button{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

footer{
    background-color: black;
    color: white;
    padding: 7px 20px;
}

.prim{
    font-size: 3rem;
}

.center{
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.secondary{
    font-size: 1.7rem;
    border-bottom: 1px solid #ddd;
    padding: 12px;
}